.nav-link-custom {
  font-size: 1.08rem;
  color: #f8f9fa !important;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.nav-link-custom:hover {
  color: #ffd700 !important;
  transform: scale(1.05);
}

.custom-dropdown .dropdown-toggle::after {
  display: none; /* remove default caret if desired */

}
.dropdown-menu {
  font-size: 1rem;
  animation: dropdownFade 0.3s ease;
  border-radius: 0.5rem;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

